// bower:scss
@import "bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

@import "_variables.scss";
@import "navigation.scss";
@import "sidebar.scss";
@import "listings.scss";

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 2em auto;
  position: relative;
}